/*CreateArticle222px*/
.creArti_img {
  margin: auto;
  display: block;
}
/*SubArticle*/
.SubArti{
  text-align: center
}
/*Footer */
.fix_footer {
  background: linear-gradient(to top left, #4e555de8 , #cccccc);
  min-height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
/*Login*/
@media (max-width: 321px){
  .lg_error {
    font-size: 10px
  }
}